{
  "AWSEBDockerrunVersion": "1",
  "Image": {
    "Name": "<IMAGE>",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": "8000",
      "HostPort": "80"
    }
  ],
  "Logging": "/var/log/app-logs"
}
